
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>列表的排序</title>
        <script src="../vue_js/vue.js"></script>
    </head>

    <body>
        <div id="root">
            <h2>剑来主要人员列表</h2>
            <p>
                搜索:
                <input type="text" placeholder="请输入你想查找的名字" v-model="keyWord" />
                <button @click="riseOlder">年龄升序</button>
                <button @click="downOlder">年龄降序</button>
                <button @click="Older">原顺序</button>
            </p>
            <ul @click="Delete" style="cursor: default">
                <li v-for="(p, index) of search" :key="p.id">{{ p.name }}——{{ p.age }}岁</li>
            </ul>
            <button @click="add">添加一个角色</button>
            添加顺序<input type="checkbox" v-model="older" />
            <div>
                <p>姓名: <input type="text" v-model="name" /></p>
                <p>年龄: <input type="number" v-model="age" /></p>
            </div>
        </div>
    </body>
    <script>
        Vue.config.productionTip = false;
    const vm = new Vue({
      el: "#root",
      data: {
        name: "张三",
        age: 18,
        id: 5,
        older: false,
        keyWord: "",
        sortType:0,
        people: [
          { id: "001", name: "陈平安", age: 40 },
          { id: "002", name: "宁姚", age: 40 },
          { id: "003", name: "齐静春", age: 300 },
          { id: "004", name: "崔东山", age: 18 },
          { id: "005", name: "持剑者", age: 100000 },
        ],
      },
      methods: {
        add() {
          this.id += 1;
          if (this.older) {
            this.people.unshift({
              id: `00${this.id}`,
              name: this.name,
              age: this.age,
            });
          } else {
            this.people.push({
              id: `00${this.id}`,
              name: this.name,
              age: this.age,
            });
          }
        },
        Delete(e) {
          e.target.remove();
        },
        riseOlder() {
            this.sortType = 2;
            // this.people = this.people.sort((a,b) => {
            //     return a.age - b.age;
            // })
        },
        downOlder() {
            this.sortType = 1;
            // this.people = this.people.sort((a,b) => {
            //     return b.age - a.age;
            // })
        },
        Older() {
            this.sortType = 0;
        }
      },
      //使用计算属性实现 使用计算属性好,因为只有有一个属性就会重新计算
      computed: {
        search() {
          let arr = [];
          //判断关键字是否为数字
          if(isNaN(this.keyWord)) {
            //不是就按照姓名搜索
              arr = this.people.filter(p => {
                return p.name.includes(this.keyWord);
              });
          }else{
            //否则就按照年龄搜索
             arr = this.people.filter(a => {
                return a.age.toString().includes(this.keyWord);
             })
          }
          //判断排序是否存在
          if(this.sortType) {
            arr.sort((a,b) => {
                //如果为1就降序,否则就升序
                return this.sortType === 1 ? b.age-a.age:a.age-b.age;
            })
          }
          //0就直接不排序
          return arr;
        }
    },
});
    </script>
    </html>
